@page
@model Despenza.Pages.Admin.AllIngredientsModel

<div class="inventory-page">
    <h1>Ingredients</h1>

    <div class="CoolTable">
        <table class="table table-bordered table-hover align-middle mb-0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Navn</th>
                    <th>KiloPris</th>
                    <th>Pris per gram</th>
                    <th>Units</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var ingredient in Model.IngredientsList)
                {
                    <tr>
                        <td>@ingredient.Id</td>
                        @* <td>@ingredient.WareId</td> *@
                        <td>@ingredient.Name</td>
                        <td>@ingredient.KiloPrice.ToString("F2")</td>
                        <td>@ingredient.PricePerGram.ToString("F2")</td>
                        <td>@ingredient.Unit</td>
                        <td>
                            <a class="btn btn-dark btn-sm"
                                   asp-page="/Admin/EditIngredient"
                                   asp-route-id="@ingredient.Id">
                                Edit
                            </a>

                            <a class="btn btn-danger btn-sm"
                                   asp-page="/Admin/DeleteIngredient"
                                   asp-route-id="@ingredient.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a class="btn btn-dark mt-3"
           asp-page="/Admin/CreateIngredient">
        Create a new Ingredient
    </a>
</div>