@page 
@model Despenza.Pages.Admin.DeleteIngredientModel

<h1>Slet Ingrediens</h1>

@if (Model.InventoryItem != null)
{
    <p>Er du sikker på, at du vil slette denne ingredient?</p>

    <p><strong>@Model.InventoryItem.Id</strong></p>
    <p>KiloPris: @Model.InventoryItem.Ware.Name</p>
    <p>Unit: @Model.InventoryItem.WareId</p>
    <p>Expiration Date: @Model.InventoryItem.ExpirationDate</p>
    <p>Quantity in stock: @Model.InventoryItem.QuantityInStock</p>

    <form method="post">
        <button type="submit">Ja, slet</button>
        <a asp-page="/Admin/AllIngredients">Annuller</a>
    </form>
}